<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Upload Excel File</title>
  </head>
  <body>
    <h1>Upload Excel File</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="myfile">
      <br><br>
      <input type="submit" value="Upload File">
    </form>
  </body>
</html>
